.todo-toaster{
    background-color: black;
    color: white;
    padding: 1rem;
    transition: all ease-in-out 200ms;
    position: absolute;
    top:50px;
    left:50px;
    width: 150px;
    text-align: center;
    z-index: 999999999;
    display: none;
    /* visibility:hidden  */
    opacity: 0;
}